<div class="container">
    <div class="page-header">
        <h3>Edit feature</h3>
    </div>
    <form class="form-horizontal" role="form" ng-submit="update()" ng-init="findOne()">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="feature.Name" id="name" placeholder="Name"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>