<form class="form-horizontal" ng-submit="create()">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="firstName">First Name:</label>
        <div class="col-sm-6">
            <input type="text" ng-model="developer.firstName" id="firstName" placeholder="First Name"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="lastName">Last Name:</label>
        <div class="col-sm-6">
            <input type="text" ng-model="developer.lastName" id="lastName" placeholder="Last Name"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="birthDate">Bith Date:</label>
        <div class="col-sm-6">
            <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="developer.birthDate" id="birthDate" placeholder="Birth Date"/>
        </div>
    </div>
</form>


<!--<div class="form-horizontal">
        <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
    </div>-->