<!DOCTYPE html>
<html ng-app="q4AngularApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/Content/css/bootstrap.css">
        <link rel="stylesheet" href="~/Content/css/bootstrap-theme.css">
        <link rel="stylesheet" href="~/Content/css/Site.css">
        <script src="~/Scripts/angular/angular.js"></script>
        <script src="~/Scripts/angular/angular-route.js"></script>
        <script src="~/Scripts/angular/angular-resource.js"></script>
        <script src="~/Scripts/angular/angular-cookies.js"></script>
        <script src="~/Scripts/ui-bootstrap-0.6.0.js"></script>
        <script src="~/Scripts/ui-bootstrap-tpls-0.6.0.js"></script>
        <script src="~/Content/app/js/controllers.js"></script>
        <script src="~/Content/app/js/services.js"></script>
        <script src="~/Content/app/js/app.js"></script>
        <script src="~/Content/app/js/errorHandling.js"></script>
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        
        <script src="~/Scripts/highcharts/highcharts.js"></script>
        <script src="~/Scripts/highcharts/modules/exporting.js"></script>
    </head>
    <body ng-controller="loginCtrl">
        <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                <nav class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="#/mytasks">My tasks</a></li>
                        <li><a href="#/developers">Developers</a></li>
                        <li><a href="#/projects">Projects</a></li>
                        <li><a href="#/tasks/new">New Task</a></li>
                    </ul>
                    <ul  class="nav navbar-nav pull-right" role="navigation" ng-show="login.user">
                        <li><a class="hand-cursor" ng-click="login.disconnect()">Logout</a></li>                        
                    </ul>
                </nav>
            </div>
        </header>
        <div app-messages></div>

        <div class="container">
            <div >
                <div ng-hide="login.user">
                    <form class="form-horizontal" role="form" ng-submit="login.connect()">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="login">Login</label>
                            <div class="col-sm-4">
                                <input ng-model="login.login" name="login" type="text" placeholder="Login" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="password">Password</label>
                            <div class="col-sm-4">
                                <input ng-model="login.password" name="password" type="password" placeholder="Password" required />    
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary col-sm-offset-1" type="submit" value="Login"/>
                        </div>
                    </form>
                </div>
                
                <div ng-show="login.user" role="main">
                    <div ng-view></div>
                    @RenderBody()
                </div>
            
            </div>
        </div>
    </body>
</html>
