<!DOCTYPE html>
<html ng-app="q4AngularApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/Content/css/bootstrap.css">
        <link rel="stylesheet" href="~/Content/css/bootstrap-theme.css">
        <script src="~/Scripts/angular/angular.js"></script>
        <script src="~/Scripts/angular/angular-route.js"></script>
        <script src="~/Scripts/ui-bootstrap-0.6.0.js"></script>
        <script src="~/Scripts/ui-bootstrap-tpls-0.6.0.js"></script>
        <script src="~/Content/app/js/controllers.js"></script>
        <script src="~/Content/app/js/app.js"></script>
    </head>
    <body>
        <header class="navbar navbar-fixed-top">
            <div class="dropdown pull-left">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                    DOMAINS
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="#/developers">Developers</a></li>
                    <li><a href="#/projects">Projects</a></li>
                </ul>
            </div>
        </header>
        <div style="margin: 32px;">
            <div role="main">
                <div ng-view></div>
                @RenderBody()
            </div>
        </div>
    </body>
</html>
