<!DOCTYPE html>
<html ng-app="q4AngularApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/Content/css/bootstrap.css">
        <link rel="stylesheet" href="~/Content/css/bootstrap-theme.css">
        <link rel="stylesheet" href="~/Content/css/Site.css">
        <script src="~/Scripts/angular/angular.js"></script>
        <script src="~/Scripts/angular/angular-route.js"></script>
        <script src="~/Scripts/angular/angular-resource.js"></script>
        <script src="~/Scripts/ui-bootstrap-0.6.0.js"></script>
        <script src="~/Scripts/ui-bootstrap-tpls-0.6.0.js"></script>
        <script src="~/Content/app/js/developersCtrl.js"></script>
        <script src="~/Content/app/js/projectsCtrl.js"></script>
        <script src="~/Content/app/js/featuresCtrl.js"></script>
        <script src="~/Content/app/js/services.js"></script>
        <script src="~/Content/app/js/app.js"></script>
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        
        <script src="~/Scripts/highcharts/highcharts.js"></script>
        <script src="~/Scripts/highcharts/modules/exporting.js"></script>
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                <nav class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="#/developers">Developers</a></li>
                        <li><a href="#/projects">Projects</a></li>
                        <li><a href="#/tasks/new">New Task</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container">
            <div role="main">
                <div ng-view></div>
                @RenderBody()
            </div>
        </div>
    </body>
</html>
