<!DOCTYPE html>
<html ng-app="q4AngularApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <script src="~/Scripts/angular/angular.js"></script>
        <script src="~/Scripts/angular/angular-route.js"></script>
        <script src="~/Content/app/js/controllers.js"></script>
        <script src="~/Content/app/js/app.js"></script>
    </head>
    <body>
        <div ng-view></div>
        @RenderBody()
    </body>
</html>
